<div>
    <section class="px-1 h-80v w-full max-h-80v overflow-hidden relative">
        <div class="bgBookFlix flex justify-center items-center md:px-16">
            <div class="text-white text-center flex flex-col items-center">
                <h1 class="text-2xl mb-2 sm:text-3xl lg:text-5xl lg:max-w-xl font-extrabold">Libros y Novelas ilimitadas y mucho más.</h1>
                <p class="text-xl mb-2 sm:text-2xl lg:text-3xl lg:max-w-none">Disfruta donde quieras. Cancela cuando quieras.</p>
                <p class="text-base mb-4 max-w-sm sm:text-xl lg:text-2xl lg:max-w-none ">¿Quieres empezar a leer ya? Ingresa tu email para crear una cuenta o reiniciar tu membresía de Bookflix.</p>
                <div class="w-11/12 md:w-9/12 lg:h-14 lg:text-2xl flex h-10 ">
                    <input class="h-full w-2/3 sm:w-3/4 text-black pl-2" placeholder="Email" type="text" name="emailSearch" id="">
                    <button class="h-full grow btn-red">Comenzar 
                        <fa-icon [icon]="angleRight"></fa-icon>
                    </button>
                </div>
            </div>
        </div>
    </section>
    <section class="border border-y-8 border-bookSeparateBeginning bg-black px-3 py-5 h-56 text-white flex justify-center items-center">
        <div class="text-center mr-4">
            <h2 class="text-xl md:text-2xl mb-4">Disfruta en tu Movil o Tablet.</h2>
            <p class="text-base">Ve en smart TV, Celular, Tablet y mas.</p>
        </div>
        <div class="h-full object-cover">
            <img class="h-full" src="../../../assets/magoOz.jpg" alt="">
        </div>
    </section>
    <section class="border border-b-8 border-bookSeparateBeginning bg-black py-5 px-3 h-56 text-white flex justify-center items-center flex-row-reverse ">
        <div class="text-center ml-4 max-w-xs">
            <h2 class="text-xl md:text-2xl mb-4">Descarga tus series para verlas offline.</h2>
            <p class="text-base">Guarda tu contenido favorito y tendrás siempre algo para ver.</p>
        </div>
        <div class="h-full object-cover max-w-[200px]">
            <img class="h-full" src="../../../assets/phoneBook.jpg" alt="">
        </div>
    </section>
    <section class="border border-b-8 border-bookSeparateBeginning bg-black py-5 px-3 text-white flex flex-col justify-center items-center gap-3 text-center">
        <h2 class="text-3xl">Disfruta donde quieras.</h2>
        <p class="text-xl max-w-xl">Películas y series ilimitadas en tu teléfono, tablet, computadora y TV sin costo extra.</p>
    </section>
    <section class="border border-b-8 border-bookSeparateBeginning bg-black py-5 px-3 text-white flex flex-col justify-center items-center gap-3 text-center">
        <h2>Preguntas Frecuentes</h2>
        <p class="text-base mb-4 max-w-sm sm:text-xl lg:text-2xl lg:max-w-none ">¿Quieres empezar a leer ya? Ingresa tu email para crear una cuenta o reiniciar tu membresía de Bookflix.</p>
        <div class="w-11/12 md:w-9/12 lg:h-12 lg:text-2xl lg:max-w-xl flex h-10 ">
            <input class="h-full w-2/3 sm:w-3/4 text-black pl-2" placeholder="Email" type="text" name="emailSearch" id="">
            <button class="h-full grow btn-red">Comenzar 
                <fa-icon [icon]="angleRight"></fa-icon>
            </button>
        </div>
    </section>
</div>
