<app-header></app-header>
<section class="px-1 h-full w-full overflow-hidden relative">
    <div class="bgBookFlix flex justify-center items-center md:px-16">
        <div class="text-white bg-black text-center flex flex-col items-center w-60 sm:w-2/5 max-w-sm h-60">
            <form action="">
                <h2 class="self-start mb-4">Iniciar Sesion</h2>
                <input class="mb-2" type="email" placeholder="Email">
                <input class="mb-4" type="password" placeholder="Password">
                <button type="submit" class="btn-red rounded-sm">Iniciar Sesion</button>
            </form>
        </div>
    </div>
</section>
